
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="isAuthenticated">
          <a
            routerLink="/recipes"
            class="nav-link">Recipes</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="!isAuthenticated">
          <a
            routerLink="/auth"
            class="nav-link">Authenticate</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active">
          <a
            routerLink="/shopping-list"
            class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav" appDropdown>
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" class="nav-link">Logout</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              style="cursor: pointer;"
              (click)="onSaveData()">Save Data</a>
            <a
              class="dropdown-item"
              style="cursor: pointer;"
              (click)="onFetchData()"
              >Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

