<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6">
      </div>
      <div>
        <!-- this button should submit the form. The other button here which switches modes should be changed to type button so that it doesn't submit that form here because if you don't set a type, clicking that button which is inside of the form will actually submit it and therefore if Angular doesn't step in, it will send an unnecessary HTTP request into the void and even if Angular steps in and prevents this submission, it will trigger the form submission in Angular nonetheless and we certainly don't want to do that for this button, only for the first one. So now we have that first button changed, the second button here, this text of course also has to change based on the mode we're in because if we are in login mode, then we can switch to sign up mode. -->
        <button
          class="btn btn-primary"
          [disabled]="!authForm.valid"
          type="submit">{{isLoginMode ? 'Login': 'Sign Up'}}</button> |
        <button
          class="btn btn-primary"
          (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign In' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>
