<div class="row">
  <div class="col-sm-12">
    <!-- I also will get access to the form created by Angular and as you learned, we can get access by placing a local reference on the form element and now this would give us access to the form element itself but by setting this equal to ngForm, we get access to this Javascript object Angular created behind the scenes and now we can simply pass this object to this onAddItem method. So that is how we can submit the form but we also should register some controls. -->
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">name</label>
          <!-- once name control sonra I will assign ngModel to this input, so that we register it as a control in our template driven form. -->
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">amount</label>
          <input
            type="text"
            id="amount"
            class="form-control"
            name="amount"
            ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-success"
            type="submit">add</button>
          <button
            class="btn btn-danger"
            type="button"
            >delete</button>
          <button
            class="btn btn-primary"
            type="button"
            >clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
